{% extends "layout.html" %}    
{% block content %}
    <h2>These are {{ user.username }} current tasks</h2>
    <hr>
    {% for task in tasks %}
        <h3>
            <a href="/tasks/{{ task.id }}">{{ task.task }}</a>
        </h3>
        <p>Status:
            {% if task.done == True %}
                Finished
            {% else %}
                Unfinished
            {% endif %}
        </p>
        <hr>
    {% endfor %}
    <a href="#" class="edit-button">Add task</a>
{% endblock content %}